*.env
*.config.js

node_modules/

test/
tests/
coverage/
docs/
doc/

*.log
*.sql
*.db
*.tgz
.DS_Store
Thumbs.db

dist/

README.md
CHANGELOG.md
LICENSE

.travis.yml
.jshintrc
.eslintrc.json

examples/
tmp/
